{%load static%}
<title>optimized cost</title>
<style>
    .hii{
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: justify;
        text-align: center;

    }
    h1{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    .hey{
        text-align: justify;
        font-size: X-large;
        background-color: rgb(138, 166, 95);
        color: white;
        padding: 13px 19px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        display: inline-block;
        position: absolute;
        top: 20px;
        
    }
    .heyy{
        text-align: justify;
        font-size: X-large;
        background-color: rgb(138, 166, 95);
        color: white;
        padding: 13px 19px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 130px;
    }
    .container{
        background-color: rgb(138, 166, 95);
    }
    .k{
        background-color: rgb(166, 179, 147);
        text-align: center;
        font-size: x-large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:beige;
    }

</style>

<body style="background-image: url('{%static 'img/bg2.png'%}');  background-repeat: repeat-y;" align="top" >
    <div class="container">
        <br>
        <br>
        <br>
        <br>
 <ul class="list-inline" >   
         <a href="http://127.0.0.1:8000/" class="hey">Home</a>
         <a href="http://127.0.0.1:8000/submitrequest/_facts/" class="heyy">LearnMore</a>
       </ul> 
    </div>
    <p class="k">Prices Entered</p>
<p class="hii" > &nbsp; &nbsp; &nbsp; &nbsp; <br>
    {{display}}</p>
    <br>
    <br>
    {{my_text}}
</body> 
