{%load static%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<title>optimized cost</title>
<style>
    .hii{
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: justify;
        text-align: center;

    }
    h1{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    .hey{
        text-align: justify;
        font-size: X-large;
        background-color: rgb(138, 166, 95);
        color: white;
        padding: 13px 19px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        display: inline-block;
        position: absolute;
        top: 20px;
        
    }
    .heyy{
        text-align: justify;
        font-size: X-large;
        background-color: rgb(138, 166, 95);
        color: white;
        padding: 13px 19px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 130px;
    }
    .container{
        background-color: rgb(166, 95, 149);
    }
    .k{
        
        text-align: center;
        font-size: x-large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:rgb(80, 185, 85);
    }
   
</style>

<body >
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="padding:15px; background-color: linear-gradient(to right, rgb(222, 47, 138), rgb(138, 66, 137),rgb(108, 32, 104) ); font-size:20px;">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="http://127.0.0.1:8000/">Home</a>
          </li>
          
          
          <!-- <li class="nav-item">
            <a class="nav-link" href="https://www.healthifyme.com/blog/the-ultimate-7-day-gym-diet-plan/">Fitness</a>
          </li> -->
        </ul>
    </nav>
   
    <p class="k">Prices Entered</p>
<p class="hii" > &nbsp; &nbsp; &nbsp; &nbsp; 
    {{display}}</p>
    <img style="float:left; width:500; height:500;" src="{%static "img/Healthy World.png"%}" >
    <!-- <center>
        <video controls autoplay muted width="390" height="310" align="center" >
            <source src="{% static "img/istockphoto-1181670894-640_adpp_is.mp4"%}"  type="video/mp4"><source> 
        </video>
       </center> -->
    <p class="k">Result</p>
    <table border=>
        <thead>
            <tr>
                <th>Name</th>
                <th>optimized_result</th>
                <th>prices </th>
                <th>total</th>
                <!-- Add more table headers based on your data structure -->
            </tr>
        </thead>
        <tbody>
            
        {% for i in my_text %}
            <tr>
                <td>{{i |safe}}</td>
                
            </tr>
        {% endfor %}
           
        </tbody>
    </table>
</body> 
