{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy world</title>
    <style>
        img{
            float:left;
            width:600px;
            height:650px;
        }
        h3{
            color:rgb(108, 189, 108);
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .i{
            width:50px;
            height:50px;
        }
        .mb{
            height:40px;
            width: 80px;
            background-color: rgb(225, 226, 225);
         
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-image: white">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="padding:15px; background-color: linear-gradient(to right, rgb(222, 47, 138), rgb(138, 66, 137),rgb(108, 32, 104) ); font-size:20px;">
        <ul class="navbar-nav">
          <li class="nav-item active ml-auto">
            <a class="nav-link" href="http://127.0.0.1:8000/" style=" font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">HealthyWorld</a>
          </li>
          <li class="nav-item ml-auto">
            <a class="nav-link" href="http://127.0.0.1:8000/submitrequest/_facts/" style=" font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">LearnMore?</a>

          </li>
          <!-- <li class="nav-item ">
            <a class="nav-link"><img class="i" src="{%static "img/Healthy World.png"%}"</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="https://www.healthifyme.com/blog/the-ultimate-7-day-gym-diet-plan/">Fitness</a>
          </li> -->
        </ul>

        <ul class="navbar-nav ml-auto">
            <p style="color: rgb(248, 243, 243); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Contact &nbsp;</p>
            <li> <a  href="#"><img style="width:30px; height:30px;" src="{%static "img/ele (1).png"%}" ></a></li>
           &nbsp; <li><a href="#"><img style="width:30px; height:30px;"src="{%static "img/ele.png"%}"></a></li>
        </ul>
      </nav>
    <img src="{%static "img/Healthy World.png"%}" >
    <br>
    <br>
    <br>
    <br>
    <h3 >&nbsp;Welcome to our website, </h3>
    <p style="color: rgb(16, 14, 14); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> &nbsp;   where we believe that eating well shouldn't break the bank. Discover the perfect harmony of nutrition and&nbsp; affordability with our cost-effective balanced diet plans. Start your journey towards a healthier and happier you today!
    </p>
    <br>
    <br>
    <br>
    <form action="/getdata/">
    <p>
      &nbsp;&nbsp;  <button class="mb" type="run" href="">let's go</button>
       </p>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- <div >
        <p style="color: rgb(16, 14, 14); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Contact -->
<!-- 
        <hr style="width:60%;text-align:left;margin-left:0; border-width:1px; border-color:rgb(1, 1, 1)">
        <img style="width:30px; height:30px;" src="{%static "img/Untitled design (8).png"%}" >
        <img style="width:30px; height:30px;"src="{%static "img/Untitled design (9).png"%}" >

    
    
</body>
</html>