{%load static%}

<style>  
    #bg{
        background-position: justify;
    }
    .Kee{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: italic;
        text-align: center;
        font-size: xx-large;

    }     
    .hey{
        text-align: center;
        font-size: larger;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .k{
        text-align: center;
        font-size: larger;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: italic;
    }
    .image{
        float: right;
    }
    

</style>
<body id='bg' style="background-image: url('{%static 'img/bg.avif'%}');">
    
    <h1 class="Kee">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cost Efficient Nutrition Meals</h1>
    <p class="hey">
        <marquee direction="right"
             behavior="alternate"
             style="border:BLACK 2px SOLID">
        HEALTHY WORLD
    </marquee>
    <br>
    <br>
    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   We analyze daily nutritional requirements for you and provide meal plan in optimized
        cost.<br>
        Just for you to know --->><br>
        </p>
    <form>
        <h5 class="k">DAILY REQUIRED NUTRIENTS</h5>
       <p class="hey"> 
        Carbohydrates&nbsp; : 281-406 grams<br>
        Protiens&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;      : 63-219 grams<br>
        Fats &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;         : 62-109 grams<br>
        Iron &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;          : 14-31 mgrams<br>
        Fiber &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : 28-42 grams<br>
        <br>
        <br>
        <img src="{%static 'img/bd.jpg'%}" width="300" height="200" align="top">
        <br>
        <br>
        
        <!-- <label>enter </label><input type="text"><br> -->
        OPTIMIZED COST= <output type="text"></output> <br>
        NUTRIENT SOURCES=<output type="text"></output><br>
        <br>
        <button type="run">RUN</button>
    </form>
        
        <br>
        <img class="image" src="{%static 'img/facts.jpeg'%}" width="500" height="500" align="right">

    </p>
    <p>

    </p>
</body>






