{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="tit">DID YOU KNOW???</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        
        .block{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color:aliceblue
        }
        img{
            float: right;
        }
    </style>
</head>
<body style="background-color: rgba(42, 115, 116, 0.956) ">
    <div class="mt-4 p-5 bg-secondary text-white rounded">
        <h1 class="display-1" style="color:azure; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Did You Know??</h1>
    </div>
    <br>
   
    <img src="{%static 'img/Untitled design (13).png'%}" width="400" height="400" />
    <div class="block">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;1. Limit sugary drinks</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Unfortunately, findings from several studies point to sugar-sweetened beverages increasing risk of heart disease and <br>
            &nbsp;&nbsp;&nbsp;&nbsp;type 2 diabetes, even in people who are not carrying excess body fat</p>
            <h3>&nbsp;&nbsp;&nbsp;&nbsp;2. Don’t fear coffee</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;It’s rich in antioxidants, and some studies have linked coffee intake to longevity and a reduced risk of type 2 diabetes, <br>
            &nbsp;&nbsp;&nbsp;&nbsp;Parkinson’s and Alzheimer’s diseases, and numerous other illnesses</p>
            <h3>&nbsp;&nbsp;&nbsp;&nbsp;3. Feed your gut bacteria</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Good ways to improve gut health include eating fermented foods like yogurt and sauerkraut, taking probiotic supplements — when indicated — <br>
            &nbsp;&nbsp;&nbsp;&nbsp;and eating plenty of fiber. Notably, fiber serves as a prebiotic, or a food source for your gut bacteria</p>
            <h3>&nbsp;&nbsp;&nbsp;&nbsp;4. Stay hydrated</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Hydration is an important and often overlooked marker of health. Staying hydrated helps ensure that your body is functioning optimally <br>
            &nbsp;&nbsp;&nbsp;&nbsp;and that your blood volume is sufficient.Drinking water is the best way to stay hydrated, as it’s free of calories, sugar, and additives
        <br>
        
    </p>
    </div>
</body>
</html>